nav {
  position: fixed;
  width: 19%;
  height: 100%;
  background: #30455b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
}

nav .nav-header {
  position: relative;
  z-index:1;
  background-color: #30455b;
  padding: 24px 24px 0;
}

.nav-header .id-badge {
  margin-top: 72px;
  margin-bottom: 48px;
}

.id-badge .avatar {
  width: 100px;
  height: 100px;
  background: #dee8f3;
      
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 0 40px rgba(0,0,0,.2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.id-badge .avatar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5em;
  height: 100%;
  width: 100%;
  color: rgba(79,109,141,.8);
  text-transform: uppercase;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .nav-header .headerGreeting {
  color: #fff;
  opacity: .75;
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 0px;
  flex: 2 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  
}

nav .nav-menu .nm-top .nav-link:hover {
  background: rgba(0,0,0,.3);
}

nav .nav-menu a {
  color: #fff;
  font-size: 1em;
  transition: all .3s ease-in-out;
}

.nav-menu .nm-top h4 a.active{
  background: #22d0a5;
}

.nav-menu .nm-top h4 a {
  cursor: pointer;
  padding: 24px 24px;
  border-bottom: 1px solid hsla(0,0%,100%,.05);
  transition: all .3s ease-in-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  font-size: 1em;
}

.nm-bottom {
  opacity: .5;
  font-size: .85em;
  margin-top: auto;
}