<div *ngIf="isSignedIn() else signedIn" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hello there</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h4>Won't you please <a [routerLink]="['/login']">sign in</a> or <a [routerLink]="['/register']">register</a></h4>
          <h4>Your <a [routerLink]="['/profile']">profile</a></h4>
        </div>
      </div>
  </div>
</div>

<ng-template #signedIn>
  <app-header>
  </app-header>
  <app-sidebar (logoutFired)="logout()">
  </app-sidebar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
 
</ng-template>